.middle {
    margin-left: 5%;
    width: 100%;
}

.final {
    width: 15%;
    display: flex;
    justify-content: center;
}

.final h3 {
    cursor: pointer;
    color: rgb(123, 122, 122);
}

.final h3:hover {
    color: black;
}

.nav .start span {
    font-size: 2em;
    font-weight: bold;
}

.nav .start span.fin {
    margin-left: 15%;
}

.nav .start span.now {
    color: green;
}

.nav {
    background-color: rgb(212, 212, 212);
    display: flex;
    height: 80px;
    vertical-align: middle;
    line-height: 80px;
}

.nav a:-webkit-any-link.activep {
    color: black;
}

.nav a:link {
    text-decoration: none;
    margin-right: 20px;
    font-size: 1.2em;
    font-weight: bold;
    color: rgb(123, 122, 122);
}

.nav a:-webkit-any-link.active {
    color: black;
}

.nav a:-webkit-any-link {
    color: rgb(123, 122, 122);
}

.nav a:-webkit-any-link:hover:not(.home) {
    color: black;
}